* {
padding: 0;
margin: 0;   
}

html {
box-sizing: border-box;   
}

body {
background: #000;   
}

:root {
--neon-pink: rgb(252, 47, 167);
--pink-text: #FC7EC7;
--highlight-pixel-blue: rgb(11, 147, 188, 0.2);
--text-field-blue: rgb(217, 217, 217, 0.35);
--blue-bkgd: #97E7FF;
}

header {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 25px 15px;
}

header h2 {
font: normal 2.4em "Pixelify Sans", sans-serif;
}

header h2 a {
color: var(--neon-pink);
text-decoration: none;
}

.video-container {
position: relative;
width: 100%;
padding-bottom: 55%; 
height: 0;
overflow: hidden !important;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 25px;
}

.video-container .overlay {
position: absolute;    
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden !important;
background:rgba(96, 42, 146, 0.8);
}

.video-container video {
position: absolute;
width: 100%;
height: auto;
min-width: 100%;
min-height: 100%;
overflow: hidden !important;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);    
z-index: -1;
}

#home.neon-card {
width: 70%;
height: auto;
max-width: 640px;
border: 2px solid var(--neon-pink);
border-radius: 24px;  
padding: 50px;
position: relative;
top: 20%;
animation: pulsatingFrame 1.5s linear infinite alternate forwards;
}

#home .neon-card h1 {
font: normal 900 2em "Pixelify Sans", sans-serif;   
color: #97E7FF;
text-align: center;
}

.neon-card p {
background: var(--highlight-pixel-blue);   
font: normal 400 0.8em "Quantico", sans-serif;  
color: var(--pink-text);  
line-height: 2em;
text-align: justify;
margin: 0 auto 8px auto;
width: 95%;
}

.neon-card p:last-of-type {
margin-bottom: 35px;   
}

.neon-card button {
display: block;   
margin: 0 auto;  
width: 50%;
height: 60px; 
cursor: pointer;
border: 2px solid var(--neon-pink);
border-radius: 15px;
background-color: transparent;
color: var(--neon-pink);
font: normal 1.2em "Pixelify Sans", sans-serif;   
}

footer {       
background: var(--blue-bkgd);
font: normal 300 1em "Pixelify Sans", sans-serif;
}

.footer-content {    
display: flex;
flex-direction: row;
justify-content: space-around;   
}

footer .bottom-content {
margin-top: 35px;    
border-top: 2px dashed #000;
}

footer h1 a {
font: normal 4em "Pixelify Sans", sans-serif;
color: var(--neon-pink);
text-decoration: none;
}

footer h3 {
margin: 10px 0; 
}

footer ul li {
list-style-type: none;
margin: 5px 0;
}

footer ul li a {
color: #000;
text-decoration: none;
}

footer p {
text-align: center;
padding: 15px 0;
}

.location,  .subscription, .social {
width: 40%;
margin: 0; 
padding: 25px;
border-right: 2px dashed #000;
}

.subscription div {
border: 1px solid #000;
border-radius: 10px;
background: var(--text-field-blue); 
width: 100%; 
max-width: 600px;
}

.subscription input[type='email']::placeholder {
color: #000;
font: normal 1.3em "Pixelify Sans", sans-serif;
}

.subscription input[type='email'] {
width: 65%;
height: 40px;
margin: 10px;
background: transparent;
border: none;
outline: transparent;
color: #000;
font: normal 400 0.8em "Quantico", sans-serif; 
}

.subscription input[type='submit'] {
width: 25%;
height: 45px;
border: 1px solid #000;
border-radius: 10px;
cursor: pointer;
background-color: transparent;
font: 900 normal 1.2em "Pixelify Sans", sans-serif;
float: right;
margin: 7px 10px 0 0;
}

#side-panel {
position: fixed;
top: 0;
right: 0;
width: 100%;
height: 100vh;
background: var(--neon-pink) ;   
transform: translateX(100%);
transition: transform 0.5s ease-out;
z-index: 9 !important;
}

#side-panel.is-active {
transform: translateX(0);    
}

#side-panel button {
font: 900 normal 9em "Pixelify Sans", sans-serif;
color: #000;
float: right;
cursor: pointer;
background: transparent;
border: none;
}

#side-panel menu {
margin-top: 175px;
}

#side-panel menu li {
display: block;
width: 100%;
list-style-type: none;
padding: 15px 0;
}

#side-panel menu li a {
font: 900 normal 9em "Pixelify Sans", sans-serif;
color: #000;
text-decoration: none;
}

#side-panel menu li:hover {
background: rgb(11, 147, 188, 0.15);
}

main {
width: 100%;
height: auto;
}

/* About */

#about {
background: url('../images/ben-neale-zpxKdH_xNSI-unsplash.png') no-repeat;    
width: 100%;
height: 100vh;
background-size: cover;
}

#about .neon-card {
left: 30%;  
animation: pulsatingFrame 1.5s linear infinite alternate forwards;
}

#about .neon-card h1 {
font: normal 900 2em "Pixelify Sans", sans-serif;   
color: #97E7FF;
text-align: center;
}

#about .overlay {
position: absolute;    
top: 110px;
left: 0;
width: 100%;
height: 100%;
overflow: hidden !important;
background:rgba(96, 42, 146, 0.8);
}

#about section:last-of-type {
width: 100%;
height: 350px;
background: #0E2139;
position: relative;
top: 710px;
}

section:last-of-type h3 {
font: 600 normal 2em "Quantico", sans-serif;
color: var(--neon-pink);
text-align: center;
padding: 35px 0;
}

.testimonials {
display: flex;
flex-direction: row;    
justify-content: space-evenly;
}

.testimonials .comment {
width: 30%;
border-right: 2px dashed rgb(151, 231, 255, 0.7);
padding: 0 25px;
}

.testimonials .comment:last-of-type {
border-right: none;
}

.testimonials .comment p {
font: 200 normal 1.1em "Pixelify Sans", sans-serif;
letter-spacing: 1px;
line-height: 1.6em;
color: #fafafa;
}

.testimonials .comment p:first-of-type {
margin-bottom: 15px;
height: 85px;
}

.testimonials .user-profile {
display: flex;
flex-direction: row;
justify-content: baseline;
}

.testimonials .user-profile p:first-of-type {
height: auto;
line-height: 0;
margin: 8px 0 0 10px;
}

.testimonials .user-profile p {
margin: 8px 0 0 10px;
}

.testimonials .user-profile img {
border-radius: 10px;
}

/******/



/* Offerings */

#offerings {
background: url('../images/ella-don-kCFXVisUqug-unsplash.png') no-repeat;    
width: 100%;
height: 100vh;
background-position: center;
background-size: cover;
overflow-x: hidden;
}

#offerings .card-container {
width: 35%;
height: auto;
margin: 0 auto;
}  

#offerings .card-container h2 {
font: 600 normal 2.4em "Quantico", sans-serif;
color: var(--neon-pink);
text-align: left;
padding-top: 75px;
position: relative;
}    

#offerings .overlay {
position: absolute;    
top: 115px;
left: 0;
width: 100%;
height: 100%;
overflow: hidden !important;
background:rgba(96, 42, 146, 0.8);
}

#offerings .neon-card {
position: relative;
top: 10px;
margin: 25px 0;
width: 100%;
background: rgba(0,0,0,0.4);
animation: pulsatingFrame 1.5s linear infinite alternate forwards;
}

#offerings .neon-card h1 {
text-align: left;
font: 600 normal 1.5em "Quantico", sans-serif;
color:#97E7FF;
}

#offerings .neon-card ul li {
list-style-type: none;    
text-align: left;
font: 300 normal 0.9em "Quantico", sans-serif;
color: var(--pink-text);
padding: 5px 0;
}

#offerings .last-card div {
display: flex;
flex-direction: row;
justify-content: space-around;
margin-left: -30px;
}



/******/



/* Community */

#community {
background: url('../images/erik-mclean-gbfqWoaTmdg-unsplash.png') no-repeat;    
width: 100%;
height: auto;
background-position: center;
background-size: cover;
overflow: hidden;
}

#community .card-container {
width: 35%;
height: auto;
margin: 0 auto;
} 

#community section h2 {
font: 600 normal 2.4em "Quantico", sans-serif;
color: var(--neon-pink);
text-align: left;
padding-top: 75px;
position: relative;
}    

#community .overlay {
position: absolute;    
top: 115px;
left: 0;
width: 100%;
height: 100%;
overflow: hidden !important;
background:rgba(96, 42, 146, 0.8);
}

#community .neon-card {
position: relative;
top: 10px;
margin: 25px 0;
width: 100%;
background: rgba(0,0,0,0.4);
animation: pulsatingFrame 1.5s linear infinite alternate forwards;
}

#community .neon-card h3 {
text-align: left;
font: 600 normal 1.5em "Quantico", sans-serif;
color:#97E7FF;
margin: 0 0 15px 0;
padding: 0;
}

#community .neon-card h4 {
text-align: left;
font: 600 normal 1.2em "Quantico", sans-serif;
color:#D51284;
margin: 0 0 5px 0;
}

#community .neon-card ul li {
list-style-type: none;    
text-align: left;
font: 300 normal 0.9em "Quantico", sans-serif;
color: var(--pink-text);
padding: 5px 0;
}

.gallery {
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%;
}

.gallery {
position: relative;
background-color: #1D0E30;
width: 100%;
height: auto;
padding: 75px 0;
top: 25px;
}

.gallery ul li {
display: inline;
padding-right: 25px;
list-style-type: none;
}


.gallery ul li img {
border-radius: 15px;
}


@keyframes pulsatingFrame {
    0% {
      box-shadow: none;
    }

    100% {
      box-shadow: 2px 2px 20px rgb(252, 47, 167);
    }
}



/******/

@media(max-width:640px){

.video-container {
padding-bottom: 65%; 
height: 0;
}

.overlay {  
top: 15px;
width: 100%;
height: 100vh;
}

.neon-card {
height: 230px; 
padding: 30px;
top: 10%;
animation: pulsatingFrame 1.5s linear infinite alternate forwards;
}

.neon-card h1 {
font: normal 900 1em "Pixelify Sans", sans-serif;   
color: var(--pink-text);
margin: 15px 0;
text-align: center;
}

.neon-card p {
line-height: 1.8em;
margin: 0 auto 3px auto;
}


footer {       
font: normal 300 1.1em "Pixelify Sans", sans-serif;
}

.footer-content {    
display: block;  
}

.location,  .subscription, .social {
width: 85%;
margin: 0 auto; 
padding: 25px 0;
border: none;
}

.bottom-content {
border: none !important;    
}


}


@media screen and (min-width:640px) and (max-width: 1100px){

.video-container {
padding-bottom: 55%; 
height: 0;
}

.overlay {  
top: 0px;
width: 100%;
height: 100vh;
}

.neon-card {
height: 230px; 
padding: 30px;
top: 15%;
animation: pulsatingFrame 1.5s linear infinite alternate forwards;
}

.neon-card h1 {
font-size: 1.4em;
margin: 15px 0;
}

.neon-card p {
line-height: 1.8em;
margin: 0 auto 3px auto;
}

footer {    
font: normal 300 1em "Pixelify Sans", sans-serif;
}

.footer-content {    
display: block;  
}

.location,  .subscription, .social {
width: 85%;
margin: 0 auto; 
padding: 25px 0;
border: none;
}

.bottom-content {
border: none !important;    
}


}


@media screen and (min-width:1100px) and (max-width: 2300px){

.video-container {
padding-bottom: 45%; 
height: 0;
}

.neon-card {
width: 70%;
height: auto;
max-width: 700px;
border: 2px solid var(--neon-pink);
border-radius: 24px;  
padding: 50px;
position: absolute;
top: 20%;
animation: pulsatingFrame 1.5s linear infinite alternate forwards;
}

.neon-card h1 {
font: normal 900 2em "Pixelify Sans", sans-serif;   
color: var(--pink-text);
margin-bottom: 15px;
text-align: center;
}

.neon-card p {
background: var(--highlight-pixel-blue);   
font: normal 400 1em "Quantico", sans-serif;  
color: var(--pink-text);  
line-height: 2em;
text-align: justify;
margin: 0 auto 8px auto;
width: 95%;
}



}

