{% extends 'base.html' %}
{% block content %}
<main>
  <h2>About<span class="special_char">_</span></h2>
  <p>
    We've created the ultimate gaming sanctuary. Our two-story entertainment hub 
    seamlessly blends the nostalgic charm of traditional arcades with state-of-the-art
    gaming innovations. Whether you're a retro enthusiast or a virtual reality explorer, 
    there's something here for every type of player.  
  </p>
  <div class="testimonials">
     <h3>What are people saying about Arcadia?</h3>
     <div class="comment">
       <p>
          Weekly smash tourney at Arcadia was PACKED tonight! 
          S/o to the staff for handling the crowd like pros 🏆
       </p>
       <div class="user-profile">
         <div>
          <img src="{{ url_for('static', filename='images/pixel-lady2.png')}}" alt="" width="54" height="54">
         </div>
         <div>
           <p>@StreamQueen</p>
           <p>On IG</p>
         </div>
       </div>
     </div>
     <div class="comment">
       <p>
          Did y'all see the new racing sim setup at arcadia? 🤯
          their aesthetic is everything ✨ retro meets cyberpunk
          literally spend my whole weekend here lol no regrets
       </p>
       <div class="user-profile">
         <div>
          <img src="{{ url_for('static', filename='images/pixel-man.png')}}" alt="" width="54" height="54">
         </div>
         <div>
           <p>@RetroRick</p>
           <p>On X</p>
         </div>
       </div>
     </div>
     <div class="comment">
       <p>
          Just spent 4 hours in one of @ArcadiaGaming's
          orb pods and I'm OBSESSED 🎮 
          #ArcadiaGaming
       </p>
       <div class="user-profile">
         <div>
          <img src="{{ url_for('static', filename='images/pixel-lady.png')}}" alt="" width="54" height="54">
         </div>
         <div>
           <p>@GamerChicX098</p>
           <p>On X</p>
         </div>
       </div>
     </div>
  </div>
</main>
{% endblock %}