{% extends 'base.html' %}
{% block content %}
<main id="community">
  <section>
   <div class="overlay"></div> 
   <div class="card-container">
   <h2>Community<span class="special_char">_</span></h2>
   <div class="neon-card">
     <h3>Join our thriving gaming community!</h3>
     <h4>Participate in</h4>
     <div class="row">
     <ul>
       <li>Weekly tournaments</li> 
       <li>Gaming leagues</li> 
       <li>Social events</li> 
      </ul>
      <ul>
       <li>Social events</li> 
       <li>Release day celebrations</li> 
       <li>Retro gaming nights</li> 
     </ul>
     </div>
   </div>
    <div class="neon-card">
     <h3>Membership_</h3>
     <h4>Flexible gaming packages to suit every player:</h4>
     <div class="row">
     <ul>
       <li>Hourly rates</li> 
       <li>Day passes</li> 
       <li>Veteran discount package</li> 
     </ul>
     <ul>
       <li>Weekly and monthly memberships</li> 
       <li>Special group rates</li> 
       <li>Birthday party packages</li> 
     </ul>
    </div>
   </div>
   </div>
     <div class="gallery">
       <ul>
         <li><img src="{{ url_for('static', filename='images/side-view-happy-woman-winning-videogame 1.png')}}" alt="" width="275" height="205"></li>
         <li><img src="{{ url_for('static', filename='images/Untitled-1.png')}}" alt="" width="275" height="205"></li>
         <li><img src="{{ url_for('static', filename='images/Untitled-12.jpg')}}" alt="" width="275" height="205"></li>
       </ul>
     </div>
   </section>
</main>
{% endblock %}