{% extends 'base.html' %}
{% block content %}
<main>
   <h2>Community<span class="special_char">_</span></h2>
   <div class="neon-card">
     <h3>Join our thriving gaming community!</h3>
     <h4>Participate in</h4>
     <ul>
       <li>Weekly tournaments</li> 
       <li>Gaming leagues</li> 
       <li> Social events</li> 
       <li>Release day celebrations</li> 
       <li>Retro gaming nights</li> 
     </ul>
     <div class="gallery">
       <ul>
         <li><img src="{{ url_for('static', filename='images/side-view-happy-woman-winning-videogame 1.png')}}" alt="" width="285" height="260"></li>
         <li><img src="{{ url_for('static', filename='images/Untitled-1.png')}}" alt="" width="285" height="260"></li>
         <li><img src="{{ url_for('static', filename='images/Untitled-12.jpg')}}" alt="" width="285" height="260"></li>
       </ul>
     </div>
   </div>
</main>
{% endblock %}